@font-face {
  font-family: 'Montserrat Bold';
  src: url('../assets/fonts/monserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../assets/fonts/monserrat/Montserrat-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat Regular';
  font-weight: 600;
}

img {
  object-fit: cover;
  object-position: center center;
}
